body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background: linear-gradient(to right, #4caf50, #45a049); /* Gradient background */
}

.welcome-message {
    text-align: center;
    padding-top: 20px;
}

.welcome-message h1 {
    color: #333;
    font-size: 2.5em; /* Adjusted font size for larger text */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    background: #fff; /* Set background color for the form */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    max-width: 600px;
    width: 100%;
}

.column-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 20px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
}

input:focus,
select:focus {
    border-color: #4caf50;
}

.container {
    position: fixed;
    top: 83%;
    /* bottom: 0; */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;

}


input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    width: auto;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.welcome-message {
    text-align: center;
    padding-top: 20px;
}

.welcome-message h1 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
}

body {
    background: url('../static/ag.png') center/cover fixed no-repeat; 
}

.predict-button {
    background: linear-gradient(to right, #1bc5d2, #23afd5);
    color: #fff;
    cursor: pointer;
    padding: 17px 24px;
    border: none;
    border-radius: 8px; 
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
    width: 100%;
    display: block;
    margin: 20px auto 0;
    position: relative;
    overflow: hidden;
    font-size: 1.1em;
}

.predict-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    transform: scaleX(0);
    transform-origin: 0 50%;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
}

.predict-button:hover {
    background: linear-gradient(to right, #45a049, #4caf50);
    transform: translateY(-2px);
}

.predict-button:hover:before {
    transform: scaleX(1);
}

.predict-button:active {
    transform: translateY(2px);
}
